body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:187px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:187px;
}
#u1 {
  position:absolute;
  left:2px;
  top:86px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:187px;
  width:422px;
  height:47px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:47px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:422px;
  top:0px;
  width:362px;
  height:187px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:187px;
}
#u5 {
  position:absolute;
  left:2px;
  top:86px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:422px;
  top:234px;
  width:362px;
  height:405px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:405px;
}
#u7 {
  position:absolute;
  left:2px;
  top:194px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:784px;
  top:187px;
  width:240px;
  height:47px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:47px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:784px;
  top:234px;
  width:240px;
  height:405px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:405px;
}
#u11 {
  position:absolute;
  left:2px;
  top:194px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:784px;
  top:0px;
  width:240px;
  height:187px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:187px;
}
#u13 {
  position:absolute;
  left:2px;
  top:86px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:234px;
  width:422px;
  height:405px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:405px;
}
#u15 {
  position:absolute;
  left:2px;
  top:194px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:901px;
  top:10px;
  width:99px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u16_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:101px;
  height:42px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u18 {
  position:absolute;
  left:828px;
  top:75px;
  width:162px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
  line-height:24px;
}
#u18_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:164px;
  height:57px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:158px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u20 {
  position:absolute;
  left:82px;
  top:109px;
  width:130px;
  height:179px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:179px;
}
#u21 {
  position:absolute;
  left:2px;
  top:82px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:422px;
  top:182px;
  width:362px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:52px;
}
#u23 {
  position:absolute;
  left:15px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:422px;
  top:144px;
  width:362px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:38px;
}
#u25 {
  position:absolute;
  left:15px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:422px;
  top:176px;
  width:360px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u27 {
  position:fixed;
  left:32px;
  top:10px;
  width:74px;
  height:39px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:360px;
  top:234px;
  width:200px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
