body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:128px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:128px;
}
#u1 {
  position:absolute;
  left:2px;
  top:56px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:128px;
  width:699px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:58px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:699px;
  top:0px;
  width:217px;
  height:128px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:128px;
}
#u5 {
  position:absolute;
  left:2px;
  top:56px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:699px;
  top:128px;
  width:217px;
  height:58px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:58px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:699px;
  top:186px;
  width:217px;
  height:453px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:453px;
}
#u9 {
  position:absolute;
  left:2px;
  top:218px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:916px;
  top:128px;
  width:108px;
  height:58px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:916px;
  top:186px;
  width:108px;
  height:453px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:453px;
}
#u13 {
  position:absolute;
  left:2px;
  top:218px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:916px;
  top:0px;
  width:108px;
  height:128px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:128px;
}
#u15 {
  position:absolute;
  left:2px;
  top:56px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:186px;
  width:699px;
  height:453px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:453px;
}
#u17 {
  position:absolute;
  left:2px;
  top:218px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:408px;
  top:450px;
  width:212px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:85px;
  top:230px;
  width:230px;
  height:50px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:85px;
  top:320px;
  width:855px;
  height:100px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:410px;
  top:230px;
  width:210px;
  height:50px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:733px;
  top:226px;
  width:217px;
  height:58px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:58px;
}
#u24 {
  position:absolute;
  left:2px;
  top:21px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:660px;
  top:164px;
  width:200px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
