body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:2px;
  width:1024px;
  height:639px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:639px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:127px;
  top:137px;
  width:116px;
  height:163px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:163px;
}
#u3 {
  position:absolute;
  left:2px;
  top:74px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:901px;
  top:10px;
  width:99px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:101px;
  height:42px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u6 {
  position:fixed;
  left:710px;
  top:9px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:99px;
  height:41px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u9 {
  position:fixed;
  left:32px;
  top:10px;
  width:48px;
  height:39px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:137px;
  width:160px;
  height:170px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:170px;
}
#u13 {
  position:absolute;
  left:2px;
  top:77px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:80px;
  width:296px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:138px;
  top:315px;
  width:99px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:350px;
  top:322px;
  width:77px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
